.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .userName {
      p {
        color: rgba(255, 255, 255, 0.503);
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }

  .icons {
    display: flex;
    gap: 20px;

    img {
      width: 35px;
      height: 35px;
      cursor: pointer;
      padding: 5px;
      border-radius: 50%;
      transition: all 0.1s linear;

      &:hover {
        background-color: rgba(34, 34, 34, 0.5);
      }
    }

    .dropdown {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 40px;
      padding: 8px;
      z-index: 1;
      border-radius: 10px;
      background-color: rgba(34, 34, 34, 0.797);
      backdrop-filter: blur(8px) saturate(180%);
      animation: opacityAnimation 0.2s ease-in, slide 0.2s ease-in;

      .option {
        cursor: pointer;
        padding: 10px 20px;
        text-align: start;
        transition: all 0.1s linear;

        &:hover {
          background-color: rgba(85, 85, 85, 0.5);
          border-radius: 5px;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(-55px) translateY(-60px) scale(0);
  }
  to {
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
