.chatList {
  flex: 1;
  overflow-y: auto;
  margin: 5px;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBar {
      flex: 1;
      background-color: rgba(34, 34, 34, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;
      transition: all 0.1s linear;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
      }
    }

    .searchBar:hover {
      transform: scale(1.1);
    }

    .add {
      width: 40px;
      height: 40px;
      background-color: rgba(34, 34, 34, 0.5);
      padding: 9px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        transform: scale(1.25);
      }
    }

    .close {
      z-index: 2;
      transition: all 0.3s linear;
      transform: rotate(45deg);
      width: 40px;
      height: 40px;
      padding: 4px;
      background-color: rgba(34, 34, 34, 0.5);
      border-radius: 50%;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 35px;
    transition: background-color 0.2s ease-out;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    span {
      font-weight: 500;
    }

    p {
      font-size: 12px;
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }

    &:hover {
      background-color: rgba(182, 182, 182, 0.386);
    }

    &.not-seen {
      background-color: rgba(0, 100, 128, 0.566);

      &:hover {
        background-color: rgba(0, 132, 169, 0.792);
      }
    }
  }

  hr {
    margin: auto;
    width: 90%;
    border-color: rgba(255, 255, 255, 0.25);
  }
}
