.detail {
  flex: 1;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.599);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 3px;
  transition: all 0.1s linear;

  .user {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 13px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 30px;
          height: 30px;
          background-color: rgba(31, 31, 31, 0.46);
          padding: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .photos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .photoDetail {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
              width: 40px;
              height: 20px;
              border-radius: 5px;
              object-fit: cover;
            }

            span {
              font-size: 14px;
              color: lightgray;
              font-weight: 300;
            }
          }

          .icon {
            width: 30px;
            height: 30px;
            background-color: rgba(31, 31, 31, 0.46);
            padding: 8px;
            border-radius: 30%;
            cursor: pointer;
          }
        }
      }
    }
    button {
      padding: 10px;
      background-color: rgba(255, 126, 150, 0.529);
      color: rgb(108, 0, 0);
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.399);
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 0, 0, 0.882);
        color: white;
      }

      &:active {
        transform: translateY(1px);
      }

      &.logout {
        padding: 10px;
        background-color: blue;
      }
    }
  }
}

.detail:hover {
  box-shadow: 0px 0px 10px 1px black;
}
