* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  width: 18px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  background-image: url("/background/bg3.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: rgba(40, 40, 40, 0.599);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: opacityAnimation 0.5s ease-in;
}

.loading {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 10px solid transparent;
  background-color: rgba(1, 1, 1, 0.392);
  backdrop-filter: blur(19px) saturate(180%);
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  animation: spin 1.2s cubic-bezier(0.5, 0.5, 0.5, 1) infinite;
  margin: 100px auto;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
