.addUser {
  min-width: max-content;
  min-height: max-content;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 12px;
  position: absolute;
  left: 240px;
  top: 100px;
  margin: auto;
  backdrop-filter: blur(20px) saturate(200%);
  z-index: 1;
  animation: slide-in 0.5s ease-in-out 1;

  form {
    display: flex;
    gap: 20px;
    border-radius: 25px;
    padding: 10px;

    input {
      padding: 15px;
      border: none;
      outline: none;
      background-color: #93939356;
      border-radius: 20px;
      color: white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.452);
      }

      &:hover {
        background-color: #9393938b;
      }
    }

    button {
      padding: 15px;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.697);
      background-color: #00000061;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #ffffff92;
        color: black;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }

  .user {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .details {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: 500;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    button {
      padding: 10px;
      border-radius: 10px;
      background-color: #01a60fd0;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #007c0ab8;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: rgb(0, 73, 146);
      }
    }
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-190px) translateY(-70px) scale(0);
    background-color: rgba(34, 34, 34, 0.5);
  }
  to {
    transform: translateX(0px) translateY(0px) scale(1);
    background-color: rgba(0, 0, 0, 0.648);
  }
}
